PORT=3000

TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=API_KEY_HERE
TMDB_API_READ_ACCESS_TOKEN=ACCESS_TOKEN_HERE

POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PASS
POSTGRES_DB=DB_NAME
DATABASE_URL=CONNECTION_STRING

AUTH_ISSUER=https://iam.onrender.com
API_AUDIENCE=group-N-api
CORS_ALLOWED_ORIGINS=WHITELISTED_ORIGINS