PORT=3000
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=TMDB_API_KEY_GOES_HERE
TMDB_API_READ_ACCESS_TOKEN=TMDB_API_READ_ACCESS_TOKEN_GOES_HERE
JWT_SECRET=<any long random string for local dev>
DATABASE_URL=postgresql://username:password@localhost:5432/database_name